.reactModalOverlay{
  background: rgba(0,0,0,0.5);
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items:center;
  justify-content:center;
  z-index: 2;
}

.reactModalContent{
  width: 100%;
  background: var(--blue-transparent);
  padding: 3rem;
  position: relative;
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
}

.reactModalClose{
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;
  transition: filter 0.2s;
  &:hover{
    filter: brightness(0.8)
  }
}

.modalContent{
  display: flex;
  align-items: flex-start;

}
.modalDescription{
  margin-left: 2rem;
  color: #FFF;
  .titleComic{
    font-size: 2rem;
    font-weight: 600;
  }
  p + p{
    margin-top: 2rem;
    line-height: 2rem;
  }
}
.creators{
  margin-top: 2rem;
  span{
    & +span:before{
      content: ', '
    }
  }
}

