.comicListFull{
  position:absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  ul{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(6, 1fr);
    
  }
}
.comicList{
  ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
  }
}

