:root{
  --background: rgb(33, 82, 85);
  
  --cover-comic: rgba(33, 82, 85, 0.747);

  --white: #FFFFFF;
  --black: #000000;

  --red: #ec1d24;
  --red-transparent: rgb(236 29 36 / 83%);
  
  --blue: #1a3353;  
  --blue-transparent: rgb(3 63 75 / 65%);
  --blue-light: #3e79f7;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{ 
  @media (max-width: 1080px){
    font-size: 93.75% // 15px
  }

  @media (max-width: 720px){
    font-size: 87.5% //14px
  }

}

body{ 
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 4%, rgba(0,27,32,1) 28%, rgb(5 85 101) 100%);
  -webkit-font-smoothing: antialiased;  
  height: 100vh;
  overflow: hidden;
}

body, input, textarea, button{
  font-family: 'Roboto', sans-serif;
  font-weight: 400
}

h1, h2, h3, h4, h5, h6, strong{
  font-weight: 600
}

button{ 
  cursor: pointer;
  transition: filter .2s;
  &:hover{
    filter: brightness(.8)
  }
}

[disabled]{
  opacity: 0.6;
  cursor: not-allowed
}

a{
  color: inherit;
  text-decoration: none;
}

.content{
  max-width: 1120px;
  margin: 0 auto;
}