.headerTop{
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
  background-color: var(--blue);
  align-items: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  border-left: 4px double var(--white);
  border-right: 4px double var(--white);
  border-bottom: 4px double var(--white);
  button{
    // background: var();
    border: 0;
    margin-right: 2rem;
    padding:1rem;
  }
}

.content{
  width: 100%;
  padding: 0 1.5rem;
  position: relative;
}

.logoArea{
  display: flex;
  .search{
    flex: 1;
    margin-left: 2rem;
    height: 3rem;
  }
}

.logo{
  max-width: 8rem;
  display: block;
}

.mainMenu{
  width: 36rem;
  margin-top: 2rem;
  ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    li{
      color: var(--white);
      padding: 0.5rem 1rem;
      transition: background .2s;
      &:hover{
        background: var(--white);
        color: var(--black);
      }
    }
  }
}